/* @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* .header{
    background: transparent;
    top: 0;
    z-index: 999;
    position: sticky;
} */
/* .navbar{
    font-family: 'Bubblegum Sans', 'sens-serif';
    background: white;
    top: 0;
    z-index: 999; 
    position: sticky;
    
} */

body{
    background-color: transparent;
}

